<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form #loginForm="ngForm" (ngSubmit)="calculate()" autocomplete="off">
        <div class="mb-3">
          <label for="salary">الراتب (صافي)</label>
          <input
            name="salary"
            [(ngModel)]="salary"
            class="form-control me-2"
            type="number"
            placeholder="Salary"
          />
        </div>

        <div class="mb-3">
          <label for="totalDeductionRate">نسبة الإستقطاع الكلية</label>
          <div class="input-group">
            <input
              name="totalDeductionRate"
              [(ngModel)]="totalDeductionRate"
              class="form-control me-2"
              type="number"
              placeholder="Total Deduction Rate"
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="loanDeductionRate">نسبة إستقطاع القرض الشخصي</label>
          <div class="input-group">
            <input
              name="loanDeductionRate"
              [(ngModel)]="loanDeductionRate"
              class="form-control me-2"
              type="number"
              placeholder="Loan Deduction Rate"
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="mortgBenefitsRate">هامش ربح القرض العقاري السنوي</label>
          <div class="input-group">
            <input
              name="mortgBenefitsRate"
              [(ngModel)]="mortgBenefitsRate"
              class="form-control me-2"
              type="number"
              placeholder="Mortgage Benefits Rate"
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="loanBenefitsRate">هامش ربح القرض الشخصي السنوي</label>
          <div class="input-group">
            <input
              name="loanBenefitsRate"
              [(ngModel)]="loanBenefitsRate"
              class="form-control me-2"
              type="number"
              placeholder="Loan Benefits Rate"
            />
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="years">المدة (بالسنوات)</label>

          <input
            name="years"
            [(ngModel)]="years"
            class="form-control me-2"
            type="number"
            placeholder="Years"
          />
        </div>
        <button class="btn btn-success" type="submit">حساب</button>
      </form>
    </div>
    <div class="col-md-8">
      <div *ngIf="finance" class="card mt-3">
        <h2 class="card-header">تفاصيل التمويل</h2>
        <div class="card-body">
          <h5 class="card-title">
            القيمة الإجمالية: {{ finance.totalLoan | number : "1.2-2" }}
          </h5>
          <div class="mb-1">
            القسط الشهري: {{ finance.monthlyInstallment | number : "1.2-2" }}
          </div>
          <div class="mb-3">
            القسط الشهري العقاري (أول ٥ سنوات):
            {{ finance.mortgMonthlyInstallment | number : "1.2-2" }}
          </div>
          <div class="mb-1">
            القرض العقاري: {{ finance.mortgLoan | number : "1.2-2" }}
          </div>
          <div class="mb-1">
            ارباح القرض العقاري:
            {{ finance.mortgLoanBenefits | number : "1.2-2" }}
          </div>
          <div class="mb-3">
            مديونية القرض العقاري: {{ finance.mortgLoanDebt | number : "1.2-2" }}
          </div>
          <div class="mb-1">
            القرض الشخصي: {{ finance.persLoan | number : "1.2-2" }}
          </div>
          <div class="mb-1">
            ارباح القرض الشخصي:
            {{ finance.persLoanBenefits | number : "1.2-2" }}
          </div>
          <div class="mb-3">
            مديونية القرض الشخصي: {{ finance.persLoanDebt | number : "1.2-2" }}
          </div>
          <div class="mb-1">
            اجمالي الارباح: {{ finance.totalBenefits | number : "1.2-2" }}
          </div>
          <div class="mb-1">
            اجمالي المديونية: {{ finance.totalDebt | number : "1.2-2" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
