<div class="d-lg-none d-block mb-3">
  <h2>حاسبة الأرباح</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <form #loginForm="ngForm" (ngSubmit)="calculate()" autocomplete="off">
      <div class="mb-3">
        <label for="loan">{{"loan" | translate}}</label>
        <input
          name="loan"
          [(ngModel)]="loan"
          class="form-control me-2"
          type="number"
          placeholder="loan"
        />
      </div>

      <div class="mb-3">
        <label for="years">{{"periodByYears" | translate}}</label>

        <input
          name="years"
          [(ngModel)]="years"
          class="form-control me-2"
          type="number"
          placeholder="Years"
        />
      </div>

      <div class="mb-3">
        <label for="debt">{{"debt" | translate}}</label>

        <input
          name="debt"
          [(ngModel)]="debt"
          class="form-control me-2"
          type="number"
          placeholder="debt"
        />
      </div>

      <div class="d-grid">
        <button class="btn btn-success btn-lg" type="submit">
          <fa-icon [icon]="faCalculator"></fa-icon>
          {{"calculate" | translate}}
        </button>
      </div>
    </form>
  </div>

  <div class="col-md-8">
    <div *ngIf="benefitsRate" class="card mt-3">
      <h2 class="card-header">{{"benefitsDetails" | translate}}</h2>
      <div class="card-body">
        <h5 class="card-title">
          {{"benefitsRate" | translate}}: {{ benefitsRate * 100 | number : "1.2-2" }}%
        </h5>
        <div class="mb-1">
          {{"yearlyBenefits" | translate}}: {{ calcYearlyBenefits | number : "1.2-2" }}
        </div>
        <div class="mb-1">
          {{"totalBenefits" | translate}}: {{ calcTotalBenefits | number : "1.2-2" }}
        </div>
      </div>
    </div>
  </div>
</div>
