<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#" routerLink="/" routerLinkActive="active">Mortgage Calculator</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Mortgage Loan</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/flexMortgage" routerLinkActive="active">Flexible Mortgage Loan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/benefits" routerLinkActive="active">Benefits Rate</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>