<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-black">
    <div class="container">
      <a class="navbar-brand" href="#" routerLink="/" routerLinkActive="active">
        <fa-icon [icon]="faCalculator"></fa-icon>
        {{"projectName" | translate}}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item me-2" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">
                <a class="nav-link" href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{"mortgage" | translate}}</a>
              </li>
            <li class="nav-item me-2" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">
              <a class="nav-link" href="#" routerLink="/flexMortgage" routerLinkActive="active">{{"flexMortgage" | translate}}</a>
            </li>
            <li class="nav-item me-2" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">
              <a class="nav-link" href="#" routerLink="/benefits" routerLinkActive="active">{{"benefitsCalculator" | translate}}</a>
            </li>
        </ul>

        <div class="language-selector">
          <div class="input-group">
            <div class="input-group-prepend p-0">
              <span class="flag-icon" [ngClass]="{'flag-icon-sa': this.getCurrentLang() === 'ar', 'flag-icon-us': this.getCurrentLang() === 'en'}"></span>
            </div>
            <select class="form-select" (change)="changeLang($event)" [ngModel]="this.getCurrentLang()" name="language">
              <option value="en">English</option>
              <option value="ar">عربي</option>
            </select>
          </div>
        </div>

        <div class="p-2 mx-3 align-items-center justify-content-center d-flex" >
          <fa-icon [icon]="faSun"></fa-icon>
          <div class="ms-2 form-check form-switch">
            <input class="form-check-input" type="checkbox" (change)="toggleTheme()" [checked]="this.getCurrentTheme() == 'dark'" />
          </div>
          <fa-icon [icon]="faMoon"></fa-icon>
        </div>

      </div>

    </div>
  </nav>