<div *ngIf="finance" class="card mt-3">
    <h2 class="card-header">{{"financeDetails" | translate}}</h2>
    <div class="card-body">

        <ng-container *ngIf="financeType == FinanceType.MortgageLoan">
            <h5 class="card-title">
                {{"mortgage" | translate}}: 
                <span class="currency">{{ finance.mortgLoan | number : '1.2-2' }}</span>
            </h5>
            <div class="mb-1">
                {{"monthlyInstallment" | translate}}:
                <span class="currency">{{ finance.monthlyInstallment | number : "1.2-2" }}</span>
            </div>
            <div class="mb-1">
                {{"mortgLoanBenefits" | translate}}: 
                <span class="currency">{{ finance.mortgLoanBenefits | number : "1.2-2" }}</span>
            </div>
            <div class="mb-1">
                {{"mortgLoanDebt" | translate}}: 
                <span class="currency">{{ finance.mortgLoanDebt | number : "1.2-2" }}</span>
            </div>
        </ng-container>

        <ng-container *ngIf="financeType == FinanceType.FlexibleMortgageLoan">
            <h5 class="card-title">
                {{"totalLoan" | translate}}:
                <span class="currency">{{ finance.totalLoan | number : "1.2-2" }}</span>
            </h5>
            <div class="mb-1">
                {{"monthlyInstallment" | translate}}: 
                <span class="currency">{{ finance.monthlyInstallment | number : "1.2-2" }}</span>
            </div>
            <div class="mb-1">
                {{"fiveYrMortgMonthlyInstallment" | translate}}
                <span class="currency">{{ finance.mortgMonthlyInstallment | number : "1.2-2" }}</span>
            </div>
            <div class="mb-1">
                {{"fiveYrPersMonthlyInstallment" | translate}}:
                <span class="currency">{{ finance.persMonthlyInstallment | number : "1.2-2" }}</span>
            </div>
            <hr>
            <div class="mb-1">
                {{"mortgage" | translate}}: 
                <span class="currency">{{ finance.mortgLoan | number : "1.2-2" }}</span>
            </div>
            <div class="mb-1">
                {{"mortgLoanBenefits" | translate}}:
                <span class="currency">{{ finance.mortgLoanBenefits | number : "1.2-2" }}</span>
            </div>
            <div class="mb-1">
                {{"mortgLoanDebt" | translate}}:
                <span class="currency">{{ finance.mortgLoanDebt | number : "1.2-2" }}</span>
            </div>
            <hr>
            <div class="mb-1">
                {{"persLoan" | translate}}: 
                <span class="currency">{{ finance.persLoan | number : "1.2-2" }}</span>
            </div>
            <div class="mb-1">
                {{"persLoanBenefits" | translate}}:
                <span class="currency">{{ finance.persLoanBenefits | number : "1.2-2" }}</span>
            </div>
            <div class="mb-1">
                {{"persLoanDebt" | translate}}: 
                <span class="currency">{{ finance.persLoanDebt | number : "1.2-2" }}</span>
            </div>
            <hr>
            <div class="mb-1">
                {{"totalBenefits" | translate}}: 
                <span class="currency">{{ finance.totalBenefits | number : "1.2-2" }}</span>
            </div>
            <div class="mb-1">
                {{"totalDebt" | translate}}: 
                <span class="currency">{{ finance.totalDebt | number : "1.2-2" }}</span>
            </div>
        </ng-container>

    </div>
</div>