<div *ngIf="finance" class="card mt-3">
    <h2 class="card-header">{{"financeDetails" | translate}}</h2>
    <div class="card-body">

        <ng-container *ngIf="financeType == FinanceType.MortgageLoan">
            <h5 class="card-title">
                {{"mortgage" | translate}}: {{ finance.mortgLoan | number : "1.2-2" }}
            </h5>
            <div class="mb-1">
                {{"monthlyInstallment" | translate}}:
                {{ finance.monthlyInstallment | number : "1.2-2" }}
            </div>
            <div class="mb-1">
                {{"mortgLoanBenefits" | translate}}: {{ finance.mortgLoanBenefits | number : "1.2-2" }}
            </div>
            <div class="mb-1">
                {{"mortgLoanDebt" | translate}}: {{ finance.mortgLoanDebt | number : "1.2-2" }}
            </div>
        </ng-container>

        <ng-container *ngIf="financeType == FinanceType.FlexibleMortgageLoan">
            <h5 class="card-title">
                {{"totalLoan" | translate}} {{ finance.totalLoan | number : "1.2-2" }}
            </h5>
            <div class="mb-1">
                {{"monthlyInstallment" | translate}}: {{ finance.monthlyInstallment | number : "1.2-2" }}
            </div>
            <div class="mb-1">
                {{"fiveYrMortgMonthlyInstallment" | translate}}
                {{ finance.mortgMonthlyInstallment | number : "1.2-2" }}
            </div>
            <div class="mb-1">
                {{"fiveYrPersMonthlyInstallment" | translate}}:
                {{ finance.persMonthlyInstallment | number : "1.2-2" }}
            </div>
            <hr>
            <div class="mb-1">
                {{"mortgage" | translate}}: {{ finance.mortgLoan | number : "1.2-2" }}
            </div>
            <div class="mb-1">
                {{"mortgLoanBenefits" | translate}}:
                {{ finance.mortgLoanBenefits | number : "1.2-2" }}
            </div>
            <div class="mb-1">
                {{"mortgLoanDebt" | translate}}: {{ finance.mortgLoanDebt | number : "1.2-2" }}
            </div>
            <hr>
            <div class="mb-1">
                {{"persLoan" | translate}}: {{ finance.persLoan | number : "1.2-2" }}
            </div>
            <div class="mb-1">
                {{"persLoanBenefits" | translate}}:
                {{ finance.persLoanBenefits | number : "1.2-2" }}
            </div>
            <div class="mb-1">
                {{"persLoanDebt" | translate}}: {{ finance.persLoanDebt | number : "1.2-2" }}
            </div>
            <hr>
            <div class="mb-1">
                {{"totalBenefits" | translate}}: {{ finance.totalBenefits | number : "1.2-2" }}
            </div>
            <div class="mb-1">
                {{"totalDebt" | translate}}: {{ finance.totalDebt | number : "1.2-2" }}
            </div>
        </ng-container>

    </div>
</div>