<div class="container" @pageAnimations>
    <div class="row welcome-div">
        <h1>{{"welcome" | translate}}</h1>
        <p>{{"welcomeDesc" | translate}}</p>
    </div>
    <div class="row mt-3">

        <div class="col-md mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>
                        <fa-icon [icon]="faHouse"></fa-icon>
                        {{"mortgage" | translate}}
                    </h4>
                </div>
                <div class="card-body">
                    {{'mortgageDesc' | translate}}
                </div>
                <div class="card-footer">
                    <a routerLink="/mortgage" class="btn btn-primary">
                        {{'calcNow' | translate}}
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md mb-3">
            <div class="card">
                <div class="card-header">
                    <h4>
                        <fa-icon [icon]="faExchangeAlt"></fa-icon>
                        {{"flexMortgage" | translate}}
                    </h4>
                </div>
                <div class="card-body">
                    {{'flexMortgageDesc' | translate}}
                </div>
                <div class="card-footer">
                    <a routerLink="/flexMortgage" class="btn btn-primary">
                        {{'calcNow' | translate}}
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md mb-3">
            <div class="card">
                <div class="card-header">
                    <h4>
                        <fa-icon [icon]="faChartLine"></fa-icon>
                        {{"benefitsCalculator" | translate}}
                    </h4>
                </div>
                <div class="card-body">
                    {{'benefitsCalcDesc' | translate}}
                </div>
                <div class="card-footer">
                    <a routerLink="/benefits" class="btn btn-primary">
                        {{'calcNow' | translate}}
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<ng-adsense class="text-center ms-3"></ng-adsense>
